<% categories = category_list %>

	<% categories.each do |category| %>
	<fieldset>
          <legend><%= category.category_name %></legend>
	  		<div ><ol>
	  		<% questions = questions_for_category(category.id) %>
	  		
	  			<% questions.each do |question| %>
                            <li>
	  					<label class="long"><%= question.question_text %></label>
	  					<% answer_list.each do |answer| %>
	  					  <%= radio_button_tag question.id, answer.id%><%= answer.answer_text%>
	  					<% end %>
	  					<%= hidden_field question.id, '' %>
                            </li>
	  			<% end %>
                          </ol></div>
	  		</fieldset>
	<% end %>
