<h1>Principal's Supporting Application for  <%= @feedback.student.full_name.upcase %></h1>
<%= form_for(@feedback, :html =>{:class => "formbuilder"}) do |f| %>
  <div>
  	<%= render :partial => 'questions'%>
  	<%= f.hidden_field :answers %>
  </div>
  <div>
  	<%= f.text_area :extra_note %>
  	<%= f.check_box :read_confirmation %>I have read
  	<%= f.radio_button :recommandation_level, "recommand" %> Recommand
  	<%= f.radio_button :recommandation_level, "highly_recommand" %> Recommand
  </div>
  <div class="actions">
    <%= f.submit 'Submit', :class => 'submit-button button'  %>
    <%= link_to "back", root_path, :class => 'submit-button button' %>
  </div>
<% end %>